locals.zsh
log/.zsh_history
projects.zsh
custom
!custom/plugins/example
!custom/example.zsh
*.swp
!custom/example.zshcache
cache/
tags
.DS_Store
Session.vim
.terminfo
scratchpaper.md
# don't check these in to source control
.private-env-vars-gitignored.fish
